

.cell{
    display: flex;
    flex-direction: row;

    .hours{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid; 
        padding: 10px;
        background-color: #aaa;
    }

    .mark{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        border: 1px solid; 
        min-height: 50px;
        cursor: pointer;
        transition: ease-in 0.2s;

        &:hover{
            background-color: #aaf;
        }
    }

    .booked {
        background-color: #faa;
    }

    .free {
        background-color: #afa;
    }
}

@media (min-width: 768px) {
    .cell{
        flex-direction: column;
    }
}