.day-scedule{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    
}

@media (min-width: 768px) {
    .day-scedule{
        flex-direction: row;
        max-width: 1000px;
        justify-content: center
    }
}