@import '../../styles/index.scss';

.page{
    background-color: $gray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;

    .page-content{
        flex: 1;
        display: flex;
        justify-content: center;
        align-content: center;
    }

}

