@import '../../styles/index.scss';

.header {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    

    h1 {
        font-size: 2em;
        color: $white;
    }

    .controll{
        display: flex;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .header{
        flex-direction: row;
        h1{
            font-size: 3em
        }
    }
}